/* Author: NexON39
Discord: NexON39#5665 */

@keyframes topBtnAnimation {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}