@media(max-width: 1200px) {
    .home-content h1 {
        font-size: 2.5rem;
    }
    .home-content p {
        font-size: 1rem;
    }
    .home-content .btn {
        font-size: 1.2rem;
        width: 150px;
    }
}

@media(max-width: 850px) {
    .navbar .mobile_btn {
        display: block;
    }
    
    .navbar .nav {
        display: none;
    }

    .navbar {
        margin: 0 0 0 0 !important;
        border-radius: 0 !important;
        padding: 0.5rem 2rem !important;
    }
}

@media(min-width: 850px) {
    .navbar .menu-mobile {
        display: none;
    }
}